.about {
  margin: 100px 0 250px 0;
}

.about__title {
  font-family: Cera Round Pro;
  font-size: 64px;
  font-weight: 500;
  line-height: 83px;
  letter-spacing: 0.03em;
  text-align: right;

}

.about__content {
  width: 100%;
  max-width: 45rem;
}

.about__image img {
  max-width: 100%;
}



.about__description {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
}

.about__description {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;

}


