.popular {
  background-color:
    #F8F8F8;
}

.popular__title {
  font-family: Cera Round Pro;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #BB2339;
}

.popular__card-title {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;

}

.popular__card-info {
  margin: 0 0 0 26%;
}

.popular__card-price {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #BB2339;

}

